
@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

<div>@Html.ActionLink("Departments", "../Departments")</div>
<div>@Html.ActionLink("Buildings", "../Buildings")</div>
<div>@Html.ActionLink("Employees", "../Employees")</div>
<div>@Html.ActionLink("Ajax", "../Ajax")</div>
