
@{
    ViewBag.Title = "Ajax";
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/scripts/ajax_test.js"></script>

<h2>Ajax Testing</h2>

