
@{
    ViewBag.Title = "Ajax";
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/scripts/ajax_test.js"></script>

<h2>Ajax Testing</h2>
<br />
<h4>Departments</h4>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody class="tbody-departments"></tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody class="tbody-buildings"></tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Salary</th>
            <th>StartDate</th>
            <th>DepartmentId</th>
            <th>BuildingId</th>
        </tr>
    </thead>
    <tbody class="tbody-employees"></tbody>
</table>